header {
    text-align: center;
    background-color: #fbbb62;
    padding: 2em 0;
    grid-column: 1 / -1;
    border-bottom: 2px solid black;
}

header h1 {
    color: black;
}

header h1, header h2, header p {
    margin: 0;
}
