aside {
    width: 10%;
    position: fixed;
    height: 100%;
    padding-right: 1em;
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

#nav-toggle {
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.5em;
    color: #fbbb62;
    display: none;
    cursor: pointer;
    padding-left: 0.5em;
}

#nav-links a {
    display: block;
    margin-bottom: 2em;
    list-style: none;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 3px 8px 5px 0px rgba(209,202,209,1);
    -moz-box-shadow: 3px 8px 5px 0px rgba(209,202,209,1);
    box-shadow: 3px 8px 5px 0px rgba(209,202,209,1);
    font-weight: 600;
    color: black;
    padding: 0.5em;
}

@media screen and (max-width: 800px) {
    #nav-links {
        transform: translateX(-600px);
        transition: all 0.3s ease-in-out;
    }

    #nav-links.show {
        position: absolute;
        z-index: 10;
        background-color: #f4f4f4;
        width: 50vw;
        padding: 1em;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;       
    }

    #nav-toggle {
        display: block;
    }
}

